.shadow {
    width: 100vw;
    height: 100vh;
    z-index: 11;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
}
.comittieeModal {
    max-width: 70%;
    margin: auto;
    margin-bottom: 30px;
    background: #fff;
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 24px;
    z-index: 100;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    overflow-y: scroll;
    height: 90%;
    transition: all ease 0.1s;
    -webkit-transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    -ms-transition: all ease 0.1s;
    -o-transition: all ease 0.1s;
    @media screen and  (max-width: 525px){
        width: 100%;
        max-width: 95%;
        overflow: scroll;
    }
}

.comittieeModalHeader {
    height: 65px;
    background: #003a65;
    position: relative;
    button{
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 40px;
        width: 40px;
        background: none;
        border: none;
        color: white;
        font-size: 25px;
        cursor: pointer;
    }
}

.comittieeModalInner {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;

    @media screen and (max-width:768px) {
        flex-direction: column;
    padding: 10px;

    }
}

.comittieeModalTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    color: #000000;

}

.comittieeModalInnerLeft {
    width: 55%;
    margin-top: 42px;

    @media screen and (max-width:768px) {
        width: 100%;
        margin-top: 22px;
    }
}

.comittieeModalImg {
    width: 100%;
}

.comittieeModalDescription {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    margin-top: 23px;
    color: #000000;
}

.comittieeModalDescriptionBlock {
    margin-top: 45px;
}

.comittieeModalDescription {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    margin-top: 7px;
    margin-bottom: 0;
    color: #000000;

    @media screen and (max-width:768px) {
        text-align: center;
    }
}

.comittieeModalInnerRight {
    width: 35%;
    margin-top: 42px;

    @media screen and (max-width:768px) {
        width: 100%;
    }
}

.comittieeModalName {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-top: 32px;
    margin-bottom: 0;
    color: #000000;
}

.comittieeModalPosition {
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 0;
    color: #003A65;
    margin-top: 5px;
}

.comittieeModalText {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    margin-top: 5px;
    margin-bottom: 0;
    color: #000000;
}
