.Calendar {
  padding: 60px 0;
  background: #ffffff;
  background-size: cover;
  min-height: 90vh;

  & > div {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      & > div:last-child {
        margin-top: 20px;
      }
    }
  }
}

.calendar {
  width: 38%;
  align-self: self-start;
  background: #ffffff;
  border-radius: 7px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.content {
  width: 55%;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  background: #ffffff;
  height: initial;
  border-radius: 7px;
  @media screen and (max-width: 768px) {
    width: 100%;
  }

  h2 {
    padding: 20px;
    font-style: normal;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #003a65;
    border-bottom: 2px solid rgba(196, 196, 196, 0.27);
  }

  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }
}

.title {
  text-align: center;
  color: #003a65;
  font-size: 2em;
  padding-bottom: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.event {
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  transition: all ease 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.eventDate {
  min-width: 100px;
  padding-right: 10px;

  p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    margin: 0;
  }
}

.events {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 30px;
}

.eventInfo {
  border-left: 3px solid #d60f33;
  padding-left: 20px;

  span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #003a65;
  }

  .eventName {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
  }
}
