.form {
  width: 30%;
  @media screen and (max-width: 1140px) {
    width: 100%;
  }

  & > div {
    label {
      margin-bottom: 10px;
      display: block;
    }

    span {
      color: red;
      position: relative;
      top: -21px;
    }

    input {
      padding: 17px 24px;
      width: 100%;
      outline: none;
      height: 48px;
      background: #F6F8FA;
      border: 1px solid #003A65;
      box-sizing: border-box;
      margin-bottom: 20px;
      display: block;
      -webkit-border-radius: 8px;
      transition: all ease 0.5s;

      &:focus {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
    }
  }

  button {
    padding: 8px 11px;
    cursor: pointer;
    align-items: center;
    display: flex;
    color: #fff;
    background-color: #003a65;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
}
